<% layout("/layouts/boilerplate") %>
<div class="card m-auto">
  <div class="row">
    <div class="col-12 col-xl-6">
      <img class="card-img" src="/images/family.jpg" alt="" />
    </div>
    <div class="col-12 col-xl-6 d-flex align-items-center">
      <div class="card-body">
        <h5>L'idea</h5>
        <p style="text-align: justify">
          Il sito nasce con l’obiettivo di offrire agli utenti uno spazio
          personale dove registrare e condividere esperienze vissute, ovvero
          ristoranti, alloggi, gite, musei, attività in città, momenti nella
          natura o esperienze dedicate ai bambini. <br />
          <br />
          Ogni utente può creare un proprio archivio, caricare foto, annotare
          impressioni, valutare ciò che ha funzionato e ciò che non ha
          soddisfatto le aspettative. <br />
          <br />
          Questa raccolta non è solo un diario digitale: è uno strumento utile
          per orientare le scelte future, basato su esperienze autentiche.
          Inoltre, tutte le esperienze sono consultabili da altri utenti, che
          possono effettuare ricerche per località e trovare ispirazione,
          consigli pratici e indicazioni su cosa fare o evitare. <br />
          <br />
          Il progetto valorizza la memoria personale e la condivisione
          collettiva, trasformando ogni racconto in una risorsa per la comunità.
          Un ecosistema dinamico dove il vissuto diventa guida.
        </p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5>Caratteristiche generali e possibili implementazioni</h5>
    <p style="text-align: justify">
      Questo sito è stato sviluppato come progetto portfolio, con l’obiettivo di
      mostrare competenze tecniche e stilistiche. l progetto è stato sviluppato
      utilizzando Express, MongoDB e una selezione di pacchetti npm per
      ottimizzare la struttura backend. Il front-end è stato progettato secondo
      una filosofia di pulizia visiva e minimalismo funzionale, con l’obiettivo
      di garantire un’interfaccia intuitiva e non invasiva, evitando soluzioni
      eccessivamente complesse che possano compromettere la semplicità d’uso.
      Per questo motivo ho scelto di utilizzare principalmente Bootstrap,
      valorizzando la coerenza visiva e la rapidità di sviluppo. L’attenzione è
      stata rivolta all’esperienza utente, con l'intento di trasmettere
      semplicità, familiarità e immediatezza. Ho preferito integrare API open
      anziché ricorrere a badge preconfezionati, per mantenere maggiore
      controllo sul design e garantire una maggiore personalizzazione visiva.
      <br />
      <br />
      Il sito è responsivo e si adatta a qualsiasi dispositivo. Chiaramente
      essendo un progetto portfolio alcuni dettagli estetici potrebbero essere
      ottimizzati per schermi medi e piccoli, poiché il progetto è stato
      concepito principalmente per desktop. Tuttavia, la struttura si mantiene
      funzionale anche su mobile. Non è ancora presente il supporto per gli
      screen readers, ma è una funzionalità che verrebbe sicuramente
      implementata in caso di evoluzione del progetto. <br />
      <br />
      Tra le estensioni future, riterrei fondamentale introdurre una sezione
      profilo utente, la possibilità di interagire tra gli utenti, un sistema di
      follow che ritengo utile per seguire gli utenti preferiti o che diventano
      influencer in quanto si dimostrano capaci di consigliare esperienze valide
      e segnalare quelle da evitare (potrebbe essere implementato anche un
      rating dell'utente stesso basato sulla media dell'utilità dei propri
      contenuti, ma potrebbe causare stress all'utente o creare delle guerre e
      non è una cosa che idealmente è compresa nel concept originario),
      meccanismi di moderazione / segnalazione di contenuti inappropriati.
      <br />
      <br />
      Per quanto riguarda la gestione delle immagini, ho scelto un approccio
      volutamente più rigido rispetto agli standard attuali (come quelli di
      Google o delle app mobili), separando le foto già presenti nel database da
      quelle appena caricate. Questo per ridurre il rischio di cancellazioni
      accidentali e per rimanere coerente con il concetto di ordine e pulizia.
      Volendo tale visualizzazione potrebbe essere resa più omogenea, ma il
      progetto nasce con l’intento di proporre un’alternativa originale e
      funzionale, pensata per utenti “semplici” e non necessariamente esperti.
    </p>
  </div>
  <div class="card-footer text-body-secondary">
    <i>
      <p>Creato da Daniele Ficcaroli</p>
    </i>
  </div>
</div>
