<% layout("/layouts/boilerplate") %>
<div class="card m-auto  mb-5">
  <div class="row">
    <div class="col-12 col-xl-6">
      <img class="card-img" src="/images/family.jpg" alt="Famiglia felice di vivere nuove esperienze assieme" />
    </div>
    <div class="col-12 col-xl-6 d-flex align-items-center">
      <div class="card-body" style="text-align: justify">
        <h4>L'idea</h4>
        <p>
          Il sito nasce con l’obiettivo di offrire agli utenti uno spazio
          personale dove registrare e condividere esperienze vissute, ovvero
          ristoranti, alloggi, gite, musei, attività in città, momenti nella
          natura o esperienze dedicate ai bambini. </p>
        <p>
          Ogni utente può creare un proprio archivio, caricare foto, annotare
          impressioni, valutare ciò che ha funzionato e ciò che non ha
          soddisfatto le aspettative.</p>
        <p>
          Questa raccolta non è solo un diario digitale: è uno strumento utile
          per orientare le scelte future, basato su esperienze autentiche.
          Inoltre, tutte le esperienze sono consultabili da altri utenti, che
          possono effettuare ricerche per località e trovare ispirazione,
          consigli pratici e indicazioni su cosa fare o evitare.</p>
        <p>
          Il progetto valorizza la memoria personale e la condivisione
          collettiva, trasformando ogni racconto in una risorsa per la comunità.
          Un ecosistema dinamico dove il vissuto diventa guida.
        </p>
      </div>
    </div>
  </div>
  <div class="card-body" style="text-align: justify">
    <h5>Caratteristiche generali e possibili implementazioni</h5>
    <p>
      Questo sito è stato sviluppato come progetto portfolio, con l’obiettivo di mostrare competenze sia tecniche che stilistiche. Il backend è stato realizzato con Express e MongoDB, gestito tramite Mongoose e supportato da una selezione di pacchetti npm per il routing, la logica applicativa e la persistenza dei dati.</p>
    <p>
      Il front-end segue una filosofia di pulizia visiva e minimalismo funzionale, con l’obiettivo di garantire un’interfaccia intuitiva e immediata. Ho scelto di utilizzare Bootstrap per valorizzare la coerenza visiva, ridurre i tempi di sviluppo e mantenere un design uniforme senza introdurre complessità superflue. Inoltre, ho preferito integrare API open invece di utilizzare badge preconfezionati, così da mantenere un maggiore controllo sul design e offrire una personalizzazione più flessibile.
    </p>
    <p>
      Il sito è responsivo, si adatta a qualsiasi dispositivo e include il supporto per gli screen reader, così da garantire un livello base di accessibilità anche a utenti con disabilità visive.
    </p>
    <p>
      Tra le possibili estensioni future, considero fondamentali: l’introduzione di una sezione profilo utente; la possibilità di interazione tra utenti; un sistema di follow, utile per seguire utenti rilevanti o influenti.
    </p>
    <p>
      Per quanto riguarda la gestione delle immagini, ho scelto un approccio controllato, separando le foto già presenti nel database da quelle appena caricate. Questa soluzione riduce il rischio di cancellazioni accidentali e mantiene coerenza con il principio di ordine e chiarezza che ispira l’intero progetto. In futuro, la visualizzazione potrebbe essere resa più uniforme, pur conservando l’idea di un’alternativa semplice e funzionale, adatta anche a utenti non esperti.
    </p>
  </div>
</div>